*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    line-height: 1.15;
}

body{
    background-color: #131313;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 5px;
}

header{
    max-width: 80%; 
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}

header img{
    width: 67px;
}

header div:first-of-type{
    display: flex;
    align-items: center;
}

header div:first-of-type div:nth-last-of-type(1){
    cursor: pointer;
    padding-left: 20px; 
}

header nav{
    padding-left: 59%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: right;
}

header nav ul li{
    display: inline-block;
    justify-content: space-between;
    padding-left: 80px;
    font-size: 130%; 
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover{
    color: greenyellow;
    cursor: pointer;
}

.container{
    padding-top: 3%; 
    padding-bottom: 5%;
    background-color: #222;
    color: white;
}

.col1 h2{
    padding-left: 15%;
    font-size: 40px; 
    padding-bottom: 5%;
}

.col1 span{
    color: greenyellow;
}

.col1 p{
    font-size: 24px;
    padding-left: 15%; 
}

.col1 p a{
    color: greenyellow;
    text-decoration: none;
}

.col2{
    margin-top: 4%; 
}

.btn{
    background-color: #131313;
    text-decoration: none; 
    padding: 1%;
    width: 11%;
    border-radius: 5px; 
    margin-left: 15%;
    border-color: #131313;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.btn1{
    background-color: #131313;
    text-decoration: none;
    padding: 1%;
    border-radius: 5px;
    margin-left: 1%;
    border-color: #131313;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.col1 .btn:hover{
    cursor: pointer;
    color: greenyellow;
    background-color: #000;
}

.col1 .btn1:hover{
    cursor: pointer;
    color: greenyellow;
    background-color: #000;
}

h2{
    padding-top: 3%; 
    padding-left: 15%; 
    color: white;
    font-size: 30px;
}

.sections{
    text-align: center;
    margin-right: 13%;
}

.card-main{
    margin-left: 5%;
}
   
.card{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
}
   
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
   
.title{
    text-align: center;
    padding: 10%;
}
   
.title h3{
    font-size: 20px;
    color: white;
}
   
.des{
    padding: 3px;
    text-align: center;    
    padding-top: 5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 23%;
}

.des p{
    color: white;
    font-size: 20px;
    padding-bottom: 40%;
}

.btn4{
    margin-top: 15%;
    margin-bottom: 5%; 
    background-color: #000;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 3%; 
    text-decoration: none;
}

.btn4:hover{
    cursor: pointer;
    color: greenyellow;
    background-color: #000;
}

.btn4{
    margin-top: 15%;
    margin-bottom: 5%; 
    background-color: #000;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 3%; 
    text-decoration: none;
}

.btn4:hover{
    cursor: pointer;
    color: greenyellow;
    background-color: #000;
}

.socialNetworks{
    background-color: #222;
}

.socialNetworks img{
    align-content: center;
    width: 10%; 
    display: inline;
    margin: 6%; 
    margin-left: 8%; 
}

.socialNetworks img:hover{
   transform: translateY(-8px) scale(1.02) translateZ(0px);
   transition: 1s;
}

.stream{
    display: inline-flex;
    margin-bottom: 5%; /* 40px */ 
}

.stream img{
    width: 40%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.containerStream{
    width: 33%;
    background-color: #222;
    display: inline-block;
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.containerStream h2{
    padding-left: 150px; 
    padding-right: 150px;
    text-align: center;
}

.containerStream p{
    padding-top: 5%;
    text-align: center;
    color: white;
    font-size: 20px; 
}

.containerStream p:nth-child(3){
    padding-top: 10%;
    text-align: center;
    color: white;
    font-size: 120%;
}

.containerStream span{
    color: greenyellow;
}

.containerStream a{
    text-decoration: none;
}

i{
    font-size: 48px;
    margin-top: 5%;
    margin-left: 18%;
    color: #101010;
}

i:hover{
    cursor: pointer;
    transform: translateY(-8px) scale(1.02) translateZ(0px);
    transition: 1s;
}

#YouTube{
    padding-bottom: 5%;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: #202020;
    color: white;      
}

.container2-footer-all{
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 2%;
}

.container2{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 40%;
}

.colum1 h2{
    font-size: 120%; 
}

.colum1 p{
    font-size: 20px;
    color: #C7C7C7;
    margin-top: 20px;
    padding-bottom: 50px;
    line-height: 30px;
}

.colum2{
    max-width: 25%;
}

.colum2 h2{
    font-size: 120%; 
}

.row3{
    text-decoration: none;
    margin-top: 8%;
    display: flex;
    font-size: 20px;
}

.row3 img{
    text-decoration: none;
    width: 12%;
    height: 12%;
}

.row3 p{
    text-decoration: none;
    margin-top: 4%; 
    margin-left: 10%;   
    color: #C7C7C7;
}

.row3 p a{
    text-decoration: none;
    color: white;
}

.row3 p a:hover{
    color: greenyellow;
}

.colum3{
    max-width: 1200%;
}

.colum3 h2{
    font-size: 120%; 
}

.row4{
    margin-top: 15%;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.row4 a{
    text-decoration: none;
    color: white;
}

.row4 img{
    width: 36px;
    height: 36px;
}

.row4 p{
    margin-top: 4%; 
    margin-left: 4%;
    max-width: 140px;
    text-decoration: none;
    color: white;
}

.row4 p a:hover{
    color: greenyellow;
}

.container2-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 120%;
    margin: 2%;
    display: flex;
    justify-content: space-between;  
    padding: 1.5%;
    font-size: 20px;
}

.copyright{
    color: #C7C7C7;
    font-size: 20px;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

/* ! Min 200 - Max 299*/
@media screen and (min-width: 200px) and (max-width:299px){
    header img{
        display: none;
    }

    header nav{
        padding-left: 0%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
    }

    header nav ul li a:first-of-type{
        padding-left: 25px;
    }

    header nav ul li{
        padding-left: 15px;
    }

    .container{
        width: 178%;
        padding-right: 2%;
        padding-bottom: 10%;
    }

    .col1 h2{
        padding-left: 14%;
    }

    .col1 p{
        padding-left: 12%;
    }

    .col2 .btn{
        margin-left: 14%;
    }

    .btn{
        background-color: #131313;
        text-decoration: none; 
        padding: 3%;
        width: 1%;
        border-radius: 5px; 
        margin-left: 15%;
        margin-top: 20%;
        border-color: #131313;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .btn1{
        background-color: #131313;
        text-decoration: none; 
        padding: 3%;
        width: 1%;
        border-radius: 5px; 
        margin-top: 15%;
        border-color: #131313;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    #sections{
        padding-top: 5%;
        margin-left: 40%;
    }

    .card-main{
        padding-left: 9%;
    }

    .card{
        display: block;
        width: 180%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .card h1{
        font-size: 5px;
    }

    .socialNetworks{
        width: 180%;
    }

    .socialNetworks img{
        width: 10%;
    }

    .stream{
        padding-top: 5%;
        display: block;
        width: 156%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream h2{
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 10%;
        text-align: center;
        display: inline;
    }

    .containerStream{
        padding-right: 17px;
        width: 105%;
        padding-top: 5%;
    }

    i{
        margin-left: 15%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        padding-right: 1px;
        width: 180%;
    }

    .container2{
        display: block;
    }

    .colum1{
        display: inline;
    }

    .colum1 p{
        font-size: 16px;
        line-height : 55px;
    }

    .colum2{
        display: inline;
        padding-bottom: 5%;
    }

    .row3 img{
        width: 10%;
    }

    .row3 p{
        font-size: 17px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3{
        display: inline;
    }

    .row4 p{
        font-size: 14px;
    }

    .container2-footer{
        display: none;
    }
}

/* ! Min 300 - Max 399*/
@media screen and (min-width: 300px) and (max-width: 399px){

    header{
        margin-left: 5%;
        padding-left: 0%;
    }

    header img{
        display: none;
    }

    header nav{
        padding-left: 0%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        justify-content: center;
    }

    header nav ul li:first-of-type{
        padding-left: 0px;
    }

    header nav ul li{
        padding-left: 15px;
    }

    .container{
        max-width: 100%;
        padding-right: 2%;
    }

    .col1 h2{
        padding-left: 4%;
    }

    .col1 p{
        padding-left: 4%;
    }

    .col2 .btn{
        margin-left: 3%;
    }

    .btn{
        background-color: #131313;
        text-decoration: none; 
        padding: 3%;
        width: 1%;
        border-radius: 5px; 
        margin-left: 15%;
        margin-top: 15%;
        border-color: #131313;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .btn1{
        background-color: #131313;
        text-decoration: none; 
        padding: 3%;
        width: 1%;
        border-radius: 5px; 
        margin-top: 15%;
        border-color: #131313;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .card-main{
        padding-left: 9%;
    }

    .card{
        display: block;
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .card h1{
        font-size: 5px;
    }

    .socialNetworks{
        max-width: 100%;
    }

    .socialNetworks img{
        width: 10%;
    }

    .stream{
        padding-top: 5%;
        display: block;
        width: 87%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream h2{
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 10%;
        text-align: center;
        display: inline;
    }

    .containerStream{
        padding-right: 17px;
        width: 105%;
        padding-top: 5%;
    }

    i{
        margin-left: 15%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        padding-right: 1px;
    }

    .container2{
        display: block;
    }

    .colum1{
        display: inline;
    }

    .colum1 p{
        font-size: 14px;
        line-height: 35px;
    }

    .colum2{
        display: inline;
        padding-bottom: 5%;
    }

    .row3 img{
        width: 15%;
    }

    .row3 p{
        font-size: 17px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3{
        display: inline;
    }

    .row4 p{
        font-size: 14px;
    }

    .container2-footer{
        display: none;
    }

}

/* ! Min 400 - Max 499*/

@media screen and (min-width: 400px) and (max-width: 499px){

    header{
        margin-left: 10%;
        padding-left: 0%;
    }

    header img{
        display: none;
    }

    header nav{
        padding-left: 0%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
    }

    header nav ul li:first-of-type{
        padding-left: 0px;
    }

    header nav ul li{
        padding-left: 15px;
    }

    .container{
        max-width: 100%;
        padding-right: 2%;
    }

    .col1 h2{
        padding-left: 8%;
    }

    .col1 p{
        padding-left: 4%;
    }

    .col2 .btn{
        margin-left: 4%;
    }

    .btn{
        background-color: #131313;
        text-decoration: none; 
        padding: 3%;
        width: 1%;
        border-radius: 5px; 
        margin-left: 15%;
        margin-top: 15%;
        border-color: #131313;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .btn1{
        background-color: #131313;
        text-decoration: none; 
        padding: 3%;
        width: 1%;
        border-radius: 5px; 
        margin-top: 15%;
        border-color: #131313;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .card-main{
        padding-left: 9%;
    }

    .card{
        display: block;
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .card h1{
        font-size: 5px;
    }

    .socialNetworks{
        max-width: 100%;
    }

    .socialNetworks img{
        width: 10%;
    }

    .stream{
        padding-top: 5%;
        display: block;
        width: 87%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream h2{
        padding-left: 0%;
        padding-right: 0%;
        margin-left: 10%;
        text-align: center;
        display: inline;
    }

    .containerStream{
        padding-right: 17px;
        width: 105%;
        padding-top: 5%;
    }

    i{
        margin-left: 15%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        padding-right: 1px;
    }

    .container2-footer-all{
        padding-bottom: 30%;
    }

    .container2{
        display: block;
    }

    .colum1{
        display: inline;
    }

    .colum1 h1{
        font-size: 24px;
    }

    .colum1 p{
        font-size: 14px;
        line-height: 35px;
    }

    .colum2{
        display: inline;
    }

    .colum2 h1{
        font-size: 24px;
    }

    .row3 img{
        width: 10%;
    }

    .row3 p{
        font-size: 16px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3{
        display: inline;
    }

    .colum3 h1{
        font-size: 24px;
    }

    .row4 p{
        font-size: 14px;
    }

    .container2-footer{
        display: none;
    }

}

/* ! Min 500 - Max 599*/

@media screen and (min-width:500px) and (max-width:599px) {

    header img{
        padding-top: 10%;
        padding-bottom: 5%;
    }

    header nav{
        padding-left: 38%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
    }

    header nav ul li:first-of-type{
        padding-left: 0px;
    }

    header nav ul li{
        padding-left: 15px;
    }

    .container{
        width: 115%;
        padding-right: 2%;
    }

    .col1 h2{
        padding-left: 8%;
    }

    .col1 p{
        padding-left: 8%;
    }

    .col2 .btn{
        margin-left: 8%;
    }

    .card-main{
        padding-left: 14%;
    }

    .card{
        display: inline-block;
        width: 45%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .card h3{
        font-size: 18px;
    }

    .des p{
        color: white;
        font-size: 16px;
    }

    .socialNetworks{
        width: 117%;
    }

    .socialNetworks h2{
        padding-left: 0%;
    }

    .stream{
        display: block;
        width: 101%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream{
        text-align: center;
        width: 110%;
    }

    .sections{
        padding-left: 15%;
        margin-right: 0%;
    }

    i{
        margin-left: 10%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #Twitch{
        margin-left: 0%;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        padding-right: 1px;
        width: 117%;
    }

    .container2{
        display: block;
        width: 85%;
    }

    .colum1{
        display: inline;
    }

    .colum1 p{
        font-size: 18px;
        line-height : 55px;
    }

    .colum2{
        display: inline;
        padding-bottom: 5%;
    }

    .row3 img{
        width: 10%;
    }

    .row3 P{
        font-size: 18px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3{
        display: inline;
    }

    .row4:nth-last-of-type(1) img{
        padding-bottom: 10%;
    }

    .row4 p{
        font-size: 18px;
    }

    .footer{
        width: 80%;
    }

    .footer p{
        font-size: 18px;
    }

    .information{
        font-size: 18px;
        text-align: right;
    }
}

/* ! Min 600 - Max 699*/

@media screen and (min-width:600px) and (max-width: 699px){

    header img{
        padding-top: 15%;
        padding-bottom: 5%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    header nav ul li{
        padding-left: 5%;
    }

    .container{
        width: 90%;
        padding-right: 10%;
    }

    .card-main{
        padding-left: 14%;
    }

    .card{
        display: inline-block;
        width: 34%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .card h1{
        font-size: 5px;
    }

    .des p{
        color: white;
        font-size: 16px;
    }

    .socialNetworks{
        width: 100%;
    }

    .stream{
        display: block;
        width: 85%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream{
        text-align: center;
        width: 110%;
    }

    i{
        margin-left: 10%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #Twitch{
        margin-left: 0%;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        padding-right: 1px;
    }

    .container2{
        display: block;
    }

    .colum1{
        display: inline;
    }

    .colum1 p{
        font-size: 16px;
        line-height : 55px;
    }

    .colum2{
        display: inline;
        padding-bottom: 5%;
    }

    .row3 img{
        width: 10%;
    }

    .row3 P{
        font-size: 16px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3{
        display: inline;
    }

    .row4:nth-last-of-type(1) img{
        padding-bottom: 10%;
    }

    .row4 p{
        font-size: 16px;
    }

    .footer p{
        font-size: 16px;
    }

}

/* ! Min 700 - Max 799*/

@media screen and (min-width: 700px) and (max-width: 799px){

    header nav{
        padding-left: 40%;
    }

    header img{
        padding-top: 15%;
        padding-bottom: 5%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    header nav ul li{
        padding-left: 5%;
    }

    .container{
        width: 90%;
        padding-right: 10%;
    }

    .card-main{
        padding-left: 14%;
    }

    .card{
        display: inline-block;
        width: 34%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .card h1{
        font-size: 5px;
    }

    .des p{
        color: white;
        font-size: 16px;
    }

    .socialNetworks{
        width: 100%;
    }

    .stream{
        display: block;
        width: 85%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream{
        text-align: center;
        width: 110%;
    }

    i{
        margin-left: 10%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #Twitch{
        margin-left: 0%;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    .container2-footer-all{
        padding-bottom: 25%;
    }

    .colum1 h1{
        font-size: 20px;
    }

    .colum1 p{
        font-size: 18px;
        line-height: 35px;
    }

    .colum2 h1{
        font-size: 19px;
    }

    .colum2 p{
        font-size: 18px;
    }

    .colum3 h1{
        font-size: 20px;
    }

    .colum3 p{
        font-size: 16px;
    }

}

/* ! Min 800 - Max 899*/

@media screen and (min-width: 800px) and (max-width: 899px){

    header nav{
        padding-left: 45%;
    }

    header img{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    header nav ul li{
        padding-left: 5%;
    }

    .container{
        width: 90%;
        padding-right: 10%;
    }

    .card-main{
        padding-left: 14%;
    }

    .card{
        display: inline-block;
        width: 34%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .card h1{
        font-size: 5px;
    }

    .des p{
        color: white;
        font-size: 16px;
    }

    .socialNetworks{
        width: 100%;
    }

    .stream{
        display: block;
        width: 85%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream{
        text-align: center;
        width: 110%;
    }

    i{
        margin-left: 10%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #Twitch{
        margin-left: 0%;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        width: 100%;
    }

    .container2-footer{
        padding-bottom: 30%;
    }

    .information{
        margin-bottom: 20%;
    }
    
    .colum1 h1{
        font-size: 120%; 
    }
    
    .colum1 p{
        font-size: 15px;
        color: #C7C7C7;
        margin-top: 20px;
        padding-bottom: 50px;
        line-height: 30px;
    }
    
    .colum2{
        max-width: 25%;
    }
    
    .colum2 h1{
        font-size: 120%; 
    }
    
    .row3{
        text-decoration: none;
        margin-top: 8%;
        display: flex;
        font-size: 20px;
    }
    
    .row3 img{
        text-decoration: none;
        width: 12%;
        height: 12%;
    }
    
    .row3 p{
        text-decoration: none;
        margin-top: 4%; 
        margin-left: 10%;   
        color: #C7C7C7;
    }
    
    .row3 p a{
        text-decoration: none;
        color: white;
    }
    
    .row3 p a:hover{
        color: greenyellow;
    }
    
    .colum3{
        max-width: 1200%;
    }
    
    .colum3 h1{
        font-size: 120%; 
    }
    
    .row4{
        margin-top: 15%;
        display: flex;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    
    .row4 a{
        text-decoration: none;
        color: white;
    }
    
    .row4 img{
        width: 36px;
        height: 36px;
    }
    
    .row4 p{
        margin-top: 4%; 
        margin-left: 4%;
        max-width: 140px;
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    
    .row4 p a:hover{
        color: greenyellow;
    }
    
    .container2-footer{
        width: 100%;  
        background: #101010;
    }
    
    .footer{
        max-width: 120%;
        margin: 2%;
        display: flex;
        justify-content: space-between;  
        padding: 1.5%;
        font-size: 20px;
    }
    
    .copyright{
        color: #C7C7C7;
        font-size: 20px;
    }
    
    .copyright a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .information a{
        text-decoration: none;
        color: #C7C7C7;
    }

}

/* ! Min 900 - Max 1000*/

@media screen and (min-width: 900px) and (max-width:999px) {

    header nav{
        padding-left: 45%;
    }
    
    header img{
        padding-top: 15%;
        padding-bottom: 5%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    header nav ul li{
        padding-left: 5%;
        font-size: 24px;
    }

    .container{
        width: 102%;
    }

    .col1 h2{
        padding-left: 5%;
    }

    .col1 p{
        padding-left: 5%;
    }

    .col2 .btn{
        margin-left: 5%;
    }

    .card-main{
        padding-left: 0%;
    }

    .card{
        width: 20%;
    }

    .title h3{
        font-size: 16px;
    }

    .des p{
        color: white;
        font-size: 14px;
    }

    .socialNetworks{
        width: 101%;
    }

    .stream{
        display: block;
        width: 85%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream{
        text-align: center;
        width: 116%;
    }

    i{
        margin-left: 10%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #Twitch{
        margin-left: 0%;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        padding-right: 1px;
        width: 102%;
    }
    
    .container2-footer{
        padding-bottom: 68%;
    }

    .container2{
        display: flex;
    }

    .colum1 h1{
        font-size: 24px;
    }

    .colum1 p{
        font-size: 18px;
        line-height: 35px;
    }

    .colum2 h1{
        font-size: 24px;
    }

    .row3 img{
        width: 20%;
    }

    .row3 p{
        font-size: 18px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3 h1{
        font-size: 24px;
    }

    .row4:nth-last-of-type(1) img{
        padding-bottom: 10%;
    }

    .row4 p{
        font-size: 16px;
    }

    .footer p{
        font-size: 18px;
    }
}

/* ! Min 1000 - Max 1099*/

@media screen and (min-width: 1000px) and (max-width:1099px) {

    header nav{
        padding-left: 38%;
    }

    header img{
        padding-top: 15%;
        padding-bottom: 5%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    header nav ul li{
        padding-left: 20%;
        font-size: 24px;
    }

    .container{
        width: 103%;
    }

    .card-main{
        padding-left: 0%;
    }

    .card{
        width: 20%;
    }

    .title h3{
        font-size: 16px;
    }

    .des p{
        color: white;
        font-size: 16px;
    }

    .socialNetworks{
        width: 103%;
    }

    .stream{
        display: block;
        width: 85%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream{
        text-align: center;
        width: 116%;
    }

    i{
        margin-left: 10%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #Twitch{
        margin-left: 0%;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        width: 103%;
    }

    .colum1 h1{
        font-size: 24px;
    }

    .colum1 p{
        font-size: 18px;
        line-height: 35px;
    }

    .colum2 h1{
        font-size: 24px;
    }

    .row3 img{
        width: 20%;
    }

    .row3 p{
        font-size: 18px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3 h1{
        font-size: 24px;
    }

    .row4:nth-last-of-type(1) img{
        padding-bottom: 10%;
    }

    .row4 p{
        font-size: 16px;
    }

}

/* ! Min 1100 - Max 1199*/

@media screen and (min-width: 1100px) and (max-width:1199px) {
    header img{
        padding-top: 15%;
        padding-bottom: 5%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    header nav ul li{
        padding-left: 5%;
        font-size: 24px;
    }

    .container{
        width: 103%;
    }

    .card-main{
        padding-left: 0%;
    }

    .card{
        width: 20%;
    }

    .title h3{
        font-size: 16px;
    }

    .des p{
        color: white;
        font-size: 16px;
    }

    .socialNetworks{
        width: 103%;
    }

    .stream{
        display: block;
        width: 85%;
        padding-right: 3%;
    }

    .stream img{
        display: none;
    }

    .containerStream{
        text-align: center;
        width: 116%;
    }

    i{
        margin-left: 10%;
    }

    i:hover{
        cursor: pointer;
        transform: translateY(-8px) scale(1.02) translateZ(0px);
        transition: 1s;
    }

    #Twitch{
        margin-left: 0%;
    }

    #YouTube{
        padding-bottom: 5%;
    }

    #contact{
        padding-right: 1px;
        width: 103%;
    }

    .container2{
        display: block;
    }

    .colum1{
        display: inline;
    }

    .colum1 p{
        font-size: 18px;
        line-height : 55px;
    }

    .colum2{
        display: inline;
        padding-bottom: 5%;
    }

    .row3 img{
        width: 10%;
    }

    .row3 P{
        font-size: 18px;
    }

    .row3:nth-last-of-type(1) img{
        padding-bottom: 20%;
    }

    .colum3{
        display: inline;
    }

    .row4:nth-last-of-type(1) img{
        padding-bottom: 10%;
    }

    .row4 p{
        font-size: 18px;
    }

    .footer p{
        font-size: 18px;
    }
}

/* ! Min 1200 - Max 1299px*/

@media screen and (min-width: 1200px) and (max-width:1299px) {

    header nav{
        padding-left: 32%;
    }

    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    header nav ul li{
        padding-left: 40%;
        font-size: 24px;
    }

    .card{
        width: 20%;
    }

    .stream img{
        width: 40%;
    }

    .containerStream{
        text-align: center;
        width: 42%;
    }

    #Twitch{
        margin-left: 0%;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1499px) {
    header nav ul{
        display: inline-flex;
        text-align: center;
        padding-left: 0%;
    }

    .card-main{
        padding-left: 3%;
    }

    .card{
        width: 19%;
    }

    .stream img{
        width: 40%;
    }

    .containerStream{
        text-align: center;
        width: 42%;
    }

    #Twitch{
        margin-left: 0%;
    }
}


